[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyutilities = {editable = true, path = "."}

[dev-packages]
mock = "*"
nose2 = "*"
pytest = "*"
mypy = "*"
flake8 = "*"
black = "*"
pytest-cov = "*"
pre-commit = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
