[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyutilities = {editable = true, path = "."}

[dev-packages]
mock = "*"
nose2 = "*"
pytest = "*"
pytest-env = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-variables = "*"
'pytest-variables[hjson]' = "*"
'pytest-variables[yaml]' = "*"
'pytest-variables[toml]' = "*"
mypy = "*"
types-six = "*"
types-mock = "*"
types-paramiko = "*"
types-requests = "*"
types-markdown = "*"
types-PyYAML = "*"
flake8 = "*"
black = "*"
pylint = "*"
pre-commit = "*"
twine = "*"
build = "*"
ipykernel = "*"
responses = "*"
sphinx = "*"
hypothesis = "*"
isort = "*"
'isort[requirements_deprecated_finder]' = "*"
'isort[pipfile_deprecated_finder]' = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
